@model IEnumerable<TBS_Backend_Prototype.Models.Dealer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComapnyAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactLastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComapnyAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactLastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
