@model IEnumerable<TBS_Backend_Prototype.Models.Move>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DropOffDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BiddingComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DealerAcceptedComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DropOffDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BiddingComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealerAcceptedComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCompanyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
